@font-face {
  font-family: "vazir";
  src: url("../assets/fonts/vazir.ttf");
}

html, body {
  font-family: "vazir";
  font-size: large;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button {
  font-family: "vazir";
  border: 2px solid #777;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
