@font-face {
    font-family: "vazir";
    src: url("../assets/fonts/vazir.ttf");
}

body {
    background-image: url("../assets/backgrounds/03.jpg");
    background-size: cover;
    font-family: "vazir";
}

#container {
    max-width: 800px;
    margin: auto;
}

button {
    font-family: inherit;
    font-size: inherit;
    border: 2px solid #777;
    padding: 5px;
    cursor: pointer;
}

table {
    border: 2px solid #777;
    border-collapse: collapse;
    background-color: #eee;
    text-align: center;
    width: 100%;
}

td:nth-child(2) {
    border-right: 2px solid #777;
}

tr:first-child {
    border-bottom: 2px solid #777;
}

tr:nth-child(4) {
    border-bottom: 2px solid #777;
}

td {
    padding: 8px;
}

@media screen and (max-width: 600px) {
    #container {
        font-size: 10px;
    }
    td {
        padding: 4px;
    }
    img {
        width: 50px;
    }
}